/*
Author: Romika Chaudhary
File Name: faq.css
*/


/* Style rules for FAQ */

.faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .faq {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    margin-top: 0;
    color: #333;
  }
  
  p {
    color: #666;
  }

  .action {
    color: #076921;
    font-weight: bold;
    text-shadow: 3px 3px 10px #a5a5db;
    text-align: center;
    font-family: 'Francois One', sans-serif;
  
  }
  




