/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} */
/* 
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.faq {
    margin-top: 20px;
}

details {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

summary {
    cursor: pointer;
    font-weight: bold;
}

p {
    margin-top: 5px;
    margin-bottom: 0;
} */


/* The existing CSS remains the same */
h1 {
    text-align: center;
    color: #245831;
	font-weight: bold;
	text-shadow: 5px 5px 8px #d67575;

}


.faq-item {
    margin-bottom: 15px;
    padding: 10px;
    background-color: lightgrey;
    width: 100%;
    border: 5px solid rgb(0, 87, 128);
}

.question h3 {
    margin-top: 0;
    text-align: center;
}

.answer {
    margin-top: 5px;
    text-align: center;
}
