/*
Author: Romika Chaudhary
File Name: training.css
*/

/* Style rules for Training */

/* Apply border style */
table {
    border: 1px solid #333;
    border-collapse: collapse;
    width: 100%;
  }

.forTable {
  padding: 2%;
}

  .action {
    color: #076921;
    font-weight: bold;
    text-shadow: 3px 3px 10px #a5a5db;
    text-align: center;
    font-family: 'Francois One', sans-serif;
  
  }
  
  /* Style the caption */
  caption {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px; 
    background-color: #f0f0f0;
  }
  
  /* Style the th elements */
  th {
    background-color: #f2f2f2;
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
  }
  
  /* Style the td elements */
  td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
  }
  
  /* Apply alternating row colors */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Highlight table row on mouse over */
  tr:hover {
    background-color: #ddd;
  }
  

	#expertise, #handson, #tailored{
		width: 29%;
		float: left;
		margin: 0 2%;
    text-align: justify;
	}
  
